html {
    font-size: 16px;
    font-family: 'Average Sans', sans-serif;  
}
h1{
    font-size: 2.5rem;
    color: #4D0307;
    font-weight: 700;
    padding: 1rem 0;
}

h2 {
    font-size: 2rem;
}

h3{
    font-size: 1.25rem;
    color: #4D0307;
    font-weight: 700;
    padding-top: 1rem;
   
}

.three-fifths {
    flex-basis: 3;
}
.two-fifths {
    flex-basis: 2;
}
header{
    width: 100%;
    position: fixed;
    margin: 0 auto;
    height: 5rem;
    z-index: 5;
}

nav{
    

    background-size: cover;
    background-image: url("../resources/images/woodgrain_red.jpg");
    color: #FFF;    
}
nav ul{
    justify-content: space-between;
    align-items: baseline;
    flex-direction: row;
    width: 100%;
    padding: .75rem 3rem;
}
nav li{
    color: #FFF;
}


.logo img {
  height: 4.5rem;
 
}
#main-container, nav {
    max-width: 1024px;
    margin: 0 auto;
}

.flex-container  {
    display: flex;
  }

.wrapper {
    display: grid;
    grid-template-columns: 60% 40%;
}


.address{
    position: relative;
    z-index: 1;
}

#banner {
    background-image: url("../resources/images/TD-4601.jpg");
    background-size: cover;
    background-position: bottom left;
    height: 35rem;


}
/*----- Menu Section -----*/
#menus img{
    /* max-height: 100%; */
    max-width: 100%;
}

.menu-items .narrow-column{
    padding: 1rem;
}

/*----- Contact Section -----*/
.contact-items .wide-column{
    padding: 1rem;
}
