

html {
    font-size: 16px;
    font-family: 'Average Sans', sans-serif;  
}
h1{
    font-family: 'Holtwood One SC','Average Sans',sans-serif;
    font-size: 2.5rem;
    color: #4D0307;
    font-weight: 700;
    padding: 1rem 0;
}

h2 {
    font-family: 'Holtwood One SC','Average Sans',sans-serif;
    font-size: 1.75rem;    
}

h3{
    font-size: 1.25rem;
    color: #4D0307;
    font-weight: 700;
    padding-top: 1rem;   
}

header{
    width: 100%;
    position: fixed;
    height: 5rem;
    z-index: 5;
}

/*----- Navigation Section -----*/
nav{
    background-size: cover;
    background-image: url("../resources/images/woodgrain_red.jpg");
    color: #FFF;    
}
nav ul{
    justify-content: space-between;
    align-items: baseline;
    flex-direction: row;
    width: 100%;
    padding: .5rem 3rem;
}
nav li{
    color: #FFF;
    transition: all 250ms linear;
}

nav li:hover {
    color: #000;
  }
  


.logo img {
  height: 6rem;
 
}
#main-container, nav {
    max-width: 1024px;
    margin: 0 auto;
}

.flex-container  {
    display: flex;
  }

.wrapper {
    display: grid;
    grid-template-columns: 3fr 2fr;
}


.address{
    color:#fff;
    padding-top: 3rem;
    padding-right: 3rem;
}

#banner {
    background-image: url("../resources/images/TD-4601.jpg");
    background-size: cover;
    background-position: bottom left;
    height: 35rem;
    align-items: center;
    justify-content: flex-end;
}
/*----- Menu Section -----*/
#menus img{
    /* max-height: 100%; */
    max-width: 100%;
}

.menu-items .narrow-column{
    padding: 1rem;
}

/*----- Contact Section -----*/
.contact-items .wide-column{
    padding: 1rem;
}
input, textarea{
    background-color: lightgray;
    margin-top: .5rem;
}

/*----- Horizontal Image Break -----*/
#horizontal-break img{
    max-width: 100%;
}


/*----- Events Section -----*/
#events img{
    max-width: 100%;
}

.music-wrapper {
    display: grid;
    grid-template-columns: 20% 10% 70%;
    grid-row-gap: 1rem;
}

#story img {
    max-width: 100%;
}

/*---- Footer Section -----*/
footer {
    background-size: cover;
    background-image: url("../resources/images/woodgrain_red.jpg");
    color: #FFF; 
    height: 5rem; 
    align-items: flex-end;
    justify-content: space-between;
    padding: 1rem;
    font-size: smaller;
}

footer a {
    color: #FFF; 
    transition: all 250ms linear;    
}
footer a:hover {
    color: #000;
  }

.footer-desktop li {
    padding-left: 1rem;

}
.giftcert div {
    display: inline-block;
}
